export(bwpca)
export(knn.error.models)
export(make.pagoda.app)
export(pagoda.cluster.cells)
export(pagoda.effective.cells)
export(pagoda.gene.clusters)
export(pagoda.pathway.wPCA)
export(pagoda.reduce.loading.redundancy)
export(pagoda.reduce.redundancy)
export(pagoda.show.pathways)
export(pagoda.subtract.aspect)
export(pagoda.top.aspects)
export(pagoda.varnorm)
export(pagoda.view.aspects)
export(scde.browse.diffexp)
export(scde.error.models)
export(scde.expression.difference)
export(scde.expression.magnitude)
export(scde.expression.prior)
export(scde.failure.probability)
export(scde.fit.models.to.reference)
export(scde.posteriors)
export(scde.test.gene.expression.difference)
export(show.app)
export(winsorize.matrix)
useDynLib(scde)

# custom additions
importFrom(Cairo,CairoPNG)
importFrom(RColorBrewer,brewer.pal)
importFrom(parallel,mclapply,detectCores)
importFrom(BiocParallel,bplapply,MulticoreParam)
importFrom(edgeR,calcNormFactors)
importFrom(MASS,theta.ml,rnegbin,negative.binomial)
importFrom(rjson,fromJSON,toJSON)
importFrom(Rcpp,evalCpp)
importFrom(methods,setRefClass)
importFrom(quantreg,rq,predict.rq)
importFrom(nnet,multinom,nnet,nnet.default)
importFrom(mgcv,gam)
importFrom(RMTstat,WishartMaxPar)
importFrom(pcaMethods, sDev, pca, scores, loadings)
importFrom(extRemes, fevd, qevd, plot.fevd)
import(RcppArmadillo)
import(flexmix)
import(Rook)
