<!-- footer -->
<footer class="site-footer">
  <span class="site-footer-owner"><a href="https://github.com/hms-dbmi/scde">SCDE</a> is maintained by <a href="https://github.com/jefworks/">Jean Fan</a> of the <a href="http://pklab.med.harvard.edu/">Kharchenko Lab</a> at the <a href="https://github.com/hms-dbmi">Department of Biomedical Informatics at Harvard Medical School</a>.</span>

  <span class="site-footer-credits">This page was made using the <a href="https://github.com/jasonlong/cayman-theme">Cayman theme</a> by <a href="https://twitter.com/jasonlong">Jason Long</a>.</span>
</footer>
<!-- end footer -->
