<!-- page header -->
<section class="page-header">
  <a href="index.html"><img src="img/pagoda_logo_big_white.png" width=150px/></a>
  <h1 class="project-name">SCDE</h1>
  <h2 class="project-tagline">
    The SCDE package implements a set of statistical methods for analyzing single-cell RNA-seq data. 
    The overall approach to the differential expression analysis is detailed in <a href="http://www.nature.com/nmeth/journal/v11/n7/abs/nmeth.2967.html">
      "Bayesian approach to single-cell differential expression analysis" (Kharchenko PV, Silberstein L, Scadden DT, Nature Methods, doi:10.1038/nmeth.2967)</a>. 
    The overall approach to the pathway and geneset overdispersion analysis is detailed in <a href="http://www.nature.com/nmeth/journal/vaop/ncurrent/full/nmeth.3734.html">
      "Characterizing transcriptional heterogeneity through pathway and gene set overdispersion analysis" (Fan J, Salathia N, Liu R, Kaeser G, Yung Y, Herman J, Kaper F, Fan JB, Zhang K, Chun J, and Kharchenko PV, Nature Methods, doi:10.1038/nmeth.3734)</a>.
  </h2>
  <a href="index.html" class="btn">Home</a>
  <a href="package.html" class="btn">Package</a>
  <a href="tutorials.html" class="btn">Tutorials</a>
  <a href="help.html" class="btn">Help</a>
  <a href="https://github.com/hms-dbmi/scde" class="btn">View on GitHub</a>
  <a href="http://pklab.med.harvard.edu/" class="btn">Kharchenko Lab</a>
</section>
<!-- end page header -->

